<div class="container">
	<div class="input">
		Message: <input type="text" name="message" ng-model="$ctrl.message">
		<br>
		<button class="btn" ng-click="$ctrl.handleSubmit()" data-ng-disabled="checkStatus()">Submit</button>
		<button class="btn" ng-click="$ctrl.clearLog()">Clear Log</button>
		<br>

		Location: <input type="text" name="location" placeholder="/echo" ng-model="$ctrl.location" data-ng-disabled="!checkStatus()"> 
		<br>
		<button class="btn" ng-click="$ctrl.connectToServer()">Connect</button>
		<button class="btn" ng-click="$ctrl.disconnect()">Disconnect</button>
		<br>
	</div>
</div>

<div class="container log"> 
		<log-items 
    	ng-repeat="message in $ctrl.messages track by $index"
    	message="message"
  	/>
</div>
